# Ignore everything by default
*

# Keep this file
!.gitignore

# -------------------------
# Hyprland desktop setup
# -------------------------
!hypr/
!hypr/**

!waybar/
!waybar/**

!wofi/
!wofi/**

!kitty/
!kitty/**

!nvim/
!nvim/**

!swaync/
!swaync/**

!swayosd/
!swayosd/**

# -------------------------
# GTK / QT / themes
# -------------------------
!nwg-look/
!nwg-look/**

!xsettingsd/
!xsettingsd/**

!themes/
!themes/**

!mimeapps.list

# -------------------------
# App
# -------------------------
!filetypesrc

