* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
}

window {
  padding: 10px;
  background-color: rgba(30, 30, 46, 0.96);
  border-radius: 8px;
  border: 2px solid #b4befe;
}

#inner-box {
  margin: 4px;
  padding: 10px;
  background-color: transparent;
}

#outer-box {
  background-color: transparent;
}

#input {
  margin: 13px;
  padding: 8px 10px;
  color: #cdd6f4;
  background-color: rgba(49, 50, 68, 0.86);
  border: none;
  border-radius: 6px;
}

#input image {
  margin-left: 9px;
  background-color: transparent;
}

#input:focus {
  outline: none;
  box-shadow: none;
}

#text {
  background-color: transparent;
  margin: 5px;
  color: #cdd6f4;
}

#entry {
  background-color: transparent;
  border-radius: 6px;
}

#entry:selected {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: rgba(69, 71, 90, 0.72);
}

#entry arrow {
  margin-left: -15px;
  border: none;
  color: transparent;
}

#entry:selected #text {
  color: #cba6f7;
}

#entry:drop(active) {
  background-color: #b4befe !important;
}

#entry image {
  padding-right: 10px;
  background-color: transparent;
}

#entry:selected image {
  background-color: transparent;
}
