* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
}

window {
  padding: 10px;
  background-color: rgba(239, 241, 245, 0.97);
  border-radius: 8px;
  border: 2px solid #7287fd;
}

#inner-box {
  margin: 4px;
  padding: 10px;
  background-color: transparent;
}

#outer-box {
  background-color: transparent;
}

#input {
  margin: 13px;
  padding: 8px 10px;
  color: #4c4f69;
  background-color: rgba(220, 224, 232, 0.86);
  border: none;
  border-radius: 6px;
}

#input image {
  margin-left: 9px;
  background-color: transparent;
}

#input:focus {
  outline: none;
  box-shadow: none;
}

#text {
  background-color: transparent;
  margin: 5px;
  color: #4c4f69;
}

#entry {
  background-color: transparent;
  border-radius: 6px;
}

#entry:selected {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: rgba(204, 208, 218, 0.72);
}

#entry arrow {
  margin-left: -15px;
  border: none;
  color: transparent;
}

#entry:selected #text {
  color: #8839ef;
}

#entry:drop(active) {
  background-color: #7287fd !important;
}

#entry image {
  padding-right: 10px;
  background-color: transparent;
}

#entry:selected image {
  background-color: transparent;
}
